.main {
  display: flex;
  background-color: #2874f0;
  align-items: center;
  color: white;
  justify-content: space-around;
}
#main-logo {
  width: 10%;
  height: 5vh;
}
.mainsec{
  padding: 1%;
}
.search-container {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1rem;
  border-radius: 5px;
  background-color: white;
}
#search-input {
  width: 90%;
  border: 0px solid;
  height: 2rem;
  border-radius: 5px;
  padding: 0.3rem;
}
input:focus {
  outline: none;
}
li {
  display: flex;
  align-items: center;
  list-style: none;
  cursor: pointer;
}
#nav-links {
  display: flex;
  gap: 3rem;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 900px) {
  #main-logo {
    width: 5%;
    height: 12vh;
  }
  li {
    font-size: smaller;
  }
  .search-container {
    width: 30%;
  }

  #search-input {
    width: 90%;
    height: 2rem;
    padding: 0.1rem;
  }
  input:focus {
    outline: none;
  }
  #nav-links {
    gap: 1rem;
  }
}


#main-content {
  width: 75vw;
display: flex;
background-color: white;
justify-content: center;
margin: 0.3rem;
flex-wrap: wrap;
}
.item-image {
width: 15vw;
height: 40vh;
}
hr{
  width: 90%;
}
.brand-name{
  color: gray;
  text-align: start;
  margin-bottom: -1rem;
  margin-top: -2px;
}
.assured-img{
width: 3.5rem;
height: 1rem;
margin-bottom: 2px;
}
.product-name{
font-size: 1rem;
margin-top: 1.5rem;
text-align: start;

}
.card {
width: 15vw;
padding: 10px;
margin: 0.5rem;
}
.prices {
display: flex;
margin-top: -2.5rem ;
align-items: baseline;
justify-content: space-between;
}

.price {
font-size: medium;
font-weight: bold;
}
.small{
  font-size: small;
}
.orignal-price {
color: gray;
text-decoration: line-through;
}

.discount-rate {
color: green;
font-weight: bold;
}

.card:hover{
  box-shadow: 2px 2px 10px 1px rgb(188, 184, 184);
  transition: 0.3s;
  cursor: pointer;
}

@media screen and (max-width:800px) {
  #main-content {
      width: 72vw;
  }
}
/* filter section */
.filter_main{
  display: flex;

}
.left_section_filter{
  box-shadow: 2px 2px 10px 1px rgb(188, 184, 184);
  transition: 0.3s;
  height: fit-content;
  padding: 0 0% 2% 0%;
}
.filter_flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filter_flex_ele{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content:left;
 
}
.filter_ele{
  cursor: pointer;
  font-size: 12px;
  background-color: #e0e0e0;
  box-shadow: 0 2px 4px 0 hsl(0deg 0% 100% / 50%);
  border-radius: 3px;
  margin: 2px 4px;
  overflow: hidden;
  transition: background-color .1s;
  max-width: 200px;
  padding: 8px;
}
#btn-clearAll {
  height: 1rem;
  width: auto;
  font-weight: 600;
  font-size: small;
  border: none;
  background-color: inherit;
  color: #2874f0;
  
}
button:hover{
  color: #2874f0;
  cursor: pointer;
}
.price{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.input-min, .input-max{
  align-items: center;
  width: 35%;
  margin: 3%;
}
.input_range{
  width: 60%;
}
.x{
color: rgba(0, 0, 0, 0.458);
cursor: pointer;
display: inline-block;
}
.size_filters{
 border-top: 1px solid rgba(0, 0, 0, 0.193);
 height: fit-content;
 padding: 1%;
}
.brand_filters{
  border-top: 1px solid rgba(0, 0, 0, 0.193);
 height: fit-content;
 padding: 1%;
}
.ideal_filters{
  border-top: 1px solid rgba(0, 0, 0, 0.193);
  height: fit-content;
  padding: 1%;
}
.price_filters{
  border-top: 1px solid rgba(0, 0, 0, 0.193);
}